*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
.text-primary{
    color: #FD6E0A;
}
.btn-primary{
    color: #FFFFFF;
    /* height:64px; */
    border-radius: 5px;
    background: #FD6E0A;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 18px 35px;
}
.header{
    background-color: #FFF8F3;
    background-image: url("../images/header_bg.png"), url("../images/developer.png");
    background-repeat: no-repeat;
    background-position: bottom right, left;
}
/* header and navigation styles */
nav{
    display: flex;
    justify-content: space-between;
    padding: 50px 200px;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-left: 50px;
}

/*  banner styles  */    
.banner{
    display: flex;
    align-items: center;
    margin: 0 200px;
}
.banner-sub-title{
    color: #474747;
    font-weight: 600;
    font-size: 45px;
    margin-bottom: 20px;
}
.banner-title{
    color: #181818;
    font-weight: 700;
    font-size: 85px;
}
.banner-decsription{
    color: #757575 ;
    font-size: 18px;
    margin-bottom: 30px;
}







